html
  head
    title My Site - #{title}
    block head
      link(rel="stylesheet", href='/stylesheets/style.css')
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
      link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous")  
      script(src="https://polyfill.io/v3/polyfill.min.js?features=default")
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3HjiS9yqJoirke_iTfk6hAOMScU3P6wE&callback=initMap&libraries=&v=weekly", defer)
      script(defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5UWO33w4NOd-Gb3m1WGg8N3Tfp0-5C0w&libraries=places&callback=initMap")

  body

    block navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container-fluid
        a.navbar-brand(href='#') Dog Blog
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
                a.nav-link(href='/') Home
            li.nav-item
                a.nav-link(href='/blog') Blog
            li.nav-item
                a.nav-link(href='/members') Members
            li.nav-item.hide#navLogout
                a.nav-link(href='/logout') Logout
            li.nav-item.hide#navLogin
                a.nav-link(href='/signin') Login
  
    block jumbotron-fluid
    .container
        .jumbotron.text-center(style = 'margin-bottom: 3px;' ) 
          h1 Dog Blog
            br
            img(src="/pictures/reading_dog.jpg", alt='dog', style='width:200px;height:200px;')
            h2 See blogs below and contribute!
            a.btn.btn-primary#general-btn(href='#') General 
              i.fas.fa-dog
            a.btn.btn-primary#parks-btn(href='#') Resources 
              i.fas.fa-paw  


    block blog
    .container
      .row#blog-container

    block form   
    .container#form-container
      .row
        .col-md-12
          .form-group
            label(for='title') Dog Post
            input#titleInput.form-control(placeholder='Post Title' type='text')
            label(for='body') Body:
            textarea#bodyInput.form-control(placeholder='Post Body' rows='10')
            button.btn.btn-primary.submit#form-btn(type='submit') Woof


    block parks
    .container#parks-section
      .container
        .input-group.mb-3
          input.form-control(type='text' placeholder='ZIP code' aria-label="Recipient's username" aria-describedby='button-addon2')
          button#find-parks-btn.button-addon2.btn.btn-outline-primary(type='button')
            | Find Parks
          button#find-stores-btn.button-addon2.btn.btn-outline-primary(type='button')
            | Find Stores
          button#find-adoption-btn.button-addon2.btn.btn-outline-primary(type='button')
            | Find Adoption
      .container
        div#map

    
    block foot
      //- Start of Footer
      footer#sticky-footer.py-4.bg-dark.text-white
        .container.text-center
          small Copyright &copy; 2020
      //- End of Footer

    block js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript" src="/js/index.js")
    script(type='text/javascript' src='/js/parks.js')
    


